name = "remix-cloudflare-pages-d1"
pages_build_output_dir = "./build/client"
compatibility_date = "2024-04-13"

[[d1_databases]]
binding = "DB"                                       # i.e. available in your Worker on env.DB
database_name = "dev-remix-d1"
database_id = "xxxxxxxx"
